<div class="container-tight">
{{#if success_msg}}
    <div class="alert alert-success">{{success_msg}}</div>
{{/if}}
{{#if error}}
    <div class="alert alert-danger">{{error}}</div>
{{/if}}
<form method="POST" action="/account/resetpwd" id="reset-password-form" class="form text-white">

  <div class="form-group">
    <label for="current-password">Enter your current password</label>
    <input type="password" class="form-control" name="currentPassword" id="current-password" placeholder="Enter your current password">
  </div>

  <div class="form-group">
    <label for="new-password">New Password</label>
    <input type="password" class="form-control" name="newPassword" id="new-password" placeholder="Enter your New password">
  </div>

  <div class="form-group">
    <label for="confirm-new-password">Confirm New Password</label>
    <input type="password" class="form-control" name="confirmNewPassword" id="confirm-new-password" placeholder="Confirm your New password">
  </div>
  <div class="form-group">
      <button type="submit" class="btn btn-outline-primary">Change password</button>
  </div>

</form>
</div>