<div class="container-tight">
<div class="row">
   <div class="col">
      <a href="/chat" class="basic-link">
        <div class="card card-inverse card-primary mb-3 text-center">
          <div class="card-block">
              <h3 class="card-title">Friends online</h3>
              <p class="card-text display-4" id="number-connected-user"></p>
          </div>
        </div>
        </a>
   </div>
   <div class="col">
      <a href="/groups" class="basic-link">
        <div class="card card-inverse card-success mb-3 text-center">
          <div class="card-block">
              <h3 class="card-title">Groups</h3>
              <p class="card-text display-4"  id="number-groups"></p>
          </div>
        </div>
      </a>
   </div>
   <div class="col">
      <a href="/channels" class="basic-link">
        <div class="card card-inverse card-info mb-3 text-center">
          <div class="card-block">
              <h3 class="card-title">Joined channels</h3>
              <p class="card-text display-4" id="number-channels"></p>
          </div>
        </div>
      </a>
   </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card" id="hp-new-channels">
      <h3 class="card-header">
          New channels
      </h3>
      <div class="card-block no-padding">
          <div class="list-group" id="new-channels">
          </div>
      </div>
    </div>
  </div>
</div>
<br />
<br />
<div class="row">
   <div class="col">
      <a href="/friends" class="basic-link">
        <div class="card card-inverse card-warning mb-3 text-center">
          <div class="card-block">
            <i class="fa fa-address-book fa-3x center"></i>
              <h3 class="card-title">Manage Friends</h3>
          </div>
        </div>
      </a>
   </div>
  <div class="col">
      <a href="/requests" class="basic-link">
        <div class="card card-inverse card-warning mb-3 text-center">
          <div class="card-block">
            <i class="fa fa-handshake-o fa-3x center"></i>
              <h3 class="card-title">Manage requests</h3>
          </div>
        </div>
        </a>
   </div>
   <div class="col">
      <a href="/groups/manage" class="basic-link">
        <div class="card card-inverse card-warning mb-3 text-center">
          <div class="card-block">
            <i class="fa fa-users fa-3x center"></i>
              <h3 class="card-title">Manage Groups</h3>
          </div>
        </div>
      </a>
   </div>
   <div class="col">
      <a href="/channels/manage" class="basic-link">
        <div class="card card-inverse card-warning mb-3 text-center">
          <div class="card-block">
            <i class="fa fa-bullseye fa-3x center"></i>
              <h3 class="card-title">Manage channels</h3>
          </div>
        </div>
      </a>
   </div>
</div>
</div>

<script src="/js/homepageScript.js"></script>