<div class="container-tight">
<div class="inner cover text-white text-center">
    <h1 class="cover-heading">Web chat</h1>
    <p class="lead">An online public web chat application let you chat with anyone is connected.</p>
    <p class="lead">
        <a href="/account/login" class="btn btn-lg btn-secondary">Start chatting</a>
    </p>
</div>
</div>