{{#if success_msg}}
<div class="alert alert-success">{{success_msg}}</div>
{{/if}}
<div class="row">
  <div class="col-md-12">
    <div class="card card-primary card-inverse mt-3 mb-3 text-center">
      <div class="card-block">
        <div class="card-title h2">
          Number of groups : <span id="number-channels"></span>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-6">
        <a href="/channels/create" class="card card-inverse card-warning mb-3 text-center">
          <div class="card-block">
            <i class="fa fa-plus-circle fa-3x center"></i>
            <h3 class="card-title">Create a new channel</h3>
          </div>
        </a>
      </div>
      <div class="col-md-6">
        <a href="/channels/manage" class="card card-inverse card-warning mb-3 text-center">
          <div class="card-block">
            <i class="fa fa-link fa-3x center"></i>
            <h3 class="card-title">Manage channels</h3>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<script src="/js/channelScript.js"></script>